<%- include('./head.ejs')  %> 
<link rel="stylesheet" href="/css/home.css">
</head>


<body>
    <div class="homebuttons">
        <ul>
            <li><a href="/library">Open Library</a></li>
            <li><a href="/addbook">Add Book</a></li>
        </ul>
       
     
    </div>


   <%- include('./end.ejs') %> 