


    
        <nav class="navbar">
           <ul>
               <li class="btn "> <a href="/library"> Open Library</a></li>
               <li class="btn "> <a href="/addbook"> Add Book To library</a> </li>
           </ul>
          </nav>

